<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/dashboard.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <a href="http://localhost:3000">
            <span class="material-icons-outlined">inventory</span> Admin
            Dashboard
            </a>
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/form.html" target="_blank">
              <span class="material-icons-outlined"></span> Add New User
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/registerForm" onclick="openRegistrationPopup()">
              <span class="material-icons-outlined"></span> Register
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="" onclick="openPopup()">
              <span class="material-icons-outlined"></span> Login
            </a>
          </li>

          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined"></span> User Details
            </a>
          </li>
          <li class="sidebar-list-item">
            <a onclick="handleChat()" target="_blank" id="chatbot">
              <span class="material-icons-outlined"></span> Chat
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/buy" target="_blank">
              <span class="material-icons-outlined"></span> Stripe Payment 
            </a>
          </li>
        </ul>
      </aside>
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>
        <div class="charts">
          <div class="charts-card">
            <p class="chart-title">Top 5 Products</p>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <p class="chart-title">Purchase and Sales Orders</p> 
            <div id="area-chart"></div>
          </div>
        </div>
        <!-- Registration Pop-up (initially hidden) -->
        
        <!-- Login Pop-up (initially hidden) -->
        <div class="login-popup" id="login-popup">
          <h2>Login</h2>
          <form id="login-form">
            <div class="form-group">
              <label for="login-email">Email:</label>
              <input
                type="email"
                id="login-email"
                name="login-email"
                required
              />
            </div>
            <div class="form-group">
              <label for="login-password">Password:</label>
              <input
                type="password"
                id="login-password"
                name="login-password"
                required
              />
            </div>
            <button type="submit">Login</button>
          </form>
        </div>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <script src="/dashboard.js"></script>
    
  </body>
</html>
